<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
</head>
<body>
    <h2>歡迎光臨WCLEEZA ML WEB</h2>
    <div>你好, {{member_nickname}}, 很高興見到你</div>
    <hr/>
    <div>請選擇想要使用的功能</div>

    <ul>
        <li><a href="/DogCatClassification"> 貓狗分類 </a></li>
        
    </ul>



    <div><a href="/signout">登出</a></div>
</body>
</html>